{{page-title 'Login'}}
<div>
  <label>
    Email
    <Input @type='text' @value={{this.email}} />
  </label>
  <label>
    Password
    <Input @type='password' @value={{this.password}} />
  </label>
</div>
<button type='button' {{on 'click' this.login}}>
  Submit
</button>
{{outlet}}